<div ng-show='gameState.money <= 0'>
	<h3>GAME OVER!!!</h3>
</div>


<button ng-click='startNewGame()'>Start New Game</button>
<div ng-show='gameState.money > 0'>
	<br>
	<br>
	<p>Money: ${{gameState.money}}</p>
	<p>Bet: $
		<input ng-model='gameState.bet'></input>
	</p>
	<p>Plays left: {{gameState.cards/2}}
	<p>{{gameState.winner}}</p>
	<img ng-src='{{gameState.lastDraw[0].image}}'>
	<img ng-src='{{gameState.lastDraw[1].image}}'>
	<br>
	<button ng-click='takeTurn()'>Take Turn</button>

	<br>
</div>
